  
  body {
    background: url(/assets/train.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100;
    position: absolute; 
    top: 0; 
    left: 0; 

  /* Preserve aspect ratio */
    min-width: 100%;
    min-height: 100%;
    margin: 50px;
  
  }

  
