  
  body {
    background: url(./assets/images/train.jpeg) no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100;
    overflow: hidden;
    position: fixed; 
    top: 0; 
    left: 0; 

  /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
  }

  

  
